body{
    background: white;
  }
  
  #pricing-table {
      margin: 100px auto;
      margin-top: 40px;
      text-align: center;
      width: 892px; /* total computed width = 222 x 3 + 226 */
  }
  
  #pricing-table .plan {
      font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
      text-shadow: 0 1px rgba(255,255,255,.8);        
      background: #fff;      
      border: 1px solid #ddd;
      color: #333;
      padding: 20px;
      width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
      float: left;
      position: relative;
      margin-right: 40px;
      margin-bottom: 40px;
  }
  
  #pricing-table .most-popular {
      z-index: 2;
      top: -13px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
      -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
      box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
  }
  
  #pricing-table .plan:nth-child(1) {
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px;        
  }
  
  #pricing-table .plan:nth-child(4) {
      -moz-border-radius: 0 5px 5px 0;
      -webkit-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;        
  }
  
  /* --------------- */	
  
  #pricing-table h3 {
      font-size: 20px;
      font-weight: normal;
      padding: 20px;
      margin: -20px -20px 50px -20px;
      background-color: #eee;
      background-image: -moz-linear-gradient(#fff,#eee);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
      background-image: -webkit-linear-gradient(#fff, #eee);
      background-image: -o-linear-gradient(#fff, #eee);
      background-image: -ms-linear-gradient(#fff, #eee);
      background-image: linear-gradient(#fff, #eee);
  }
  
  #pricing-table .most-popular h3 {
      background-color: #ddd;
      background-image: -moz-linear-gradient(#eee,#ddd);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
      background-image: -webkit-linear-gradient(#eee, #ddd);
      background-image: -o-linear-gradient(#eee, #ddd);
      background-image: -ms-linear-gradient(#eee, #ddd);
      background-image: linear-gradient(#eee, #ddd);
      margin-top: -30px;
      padding-top: 30px;
      -moz-border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0; 		
  }
  
  #pricing-table .plan:nth-child(1) h3 {
      -moz-border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0;
      border-radius: 5px 0 0 0;       
  }
  
  #pricing-table .plan:nth-child(4) h3 {
      -moz-border-radius: 0 5px 0 0;
      -webkit-border-radius: 0 5px 0 0;
      border-radius: 0 5px 0 0;       
  }	
  
  #pricing-table h3 span {
      display: block;
      font: bold 25px/100px Georgia, Serif;
      color: #777;
      background: #fff;
      border: 5px solid #fff;
      height: 100px;
      width: 100px;
      margin: 10px auto -65px;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      border-radius: 100px;
      -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
      -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
      box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  }
  
  /* --------------- */
  
  #pricing-table ul {
      margin: 20px 0 0 0;
      padding: 0;
      list-style: none;
  }
  
  #pricing-table li {
      border-top: 1px solid #ddd;
      padding: 10px 0;
  }
  
  /* --------------- */
      
  #pricing-table .signup {
      position: relative;
      padding: 8px 20px;
      margin: 20px 0 0 0;  
      color: #fff;
      font: bold 14px Arial, Helvetica;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;       
      background-color: #72ce3f;
      background-image: -moz-linear-gradient(#72ce3f, #62bc30);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));    
      background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
      background-image: -o-linear-gradient(#72ce3f, #62bc30);
      background-image: -ms-linear-gradient(#72ce3f, #62bc30);
      background-image: linear-gradient(#72ce3f, #62bc30);
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;     
      text-shadow: 0 1px 0 rgba(0,0,0,.3);        
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
      box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
  }
  
  #pricing-table .signup:hover {
      background-color: #62bc30;
      background-image: -moz-linear-gradient(#62bc30, #72ce3f);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));      
      background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
      background-image: -o-linear-gradient(#62bc30, #72ce3f);
      background-image: -ms-linear-gradient(#62bc30, #72ce3f);
      background-image: linear-gradient(#62bc30, #72ce3f); 
  }
  
  #pricing-table .signup:active, #pricing-table .signup:focus {
      background: #62bc30;       
      top: 2px;
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
      box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
  }
  
  /* --------------- */
  
  .clear:before, .clear:after {
    content:"";
    display:table
  }
  
  .clear:after {
    clear:both
  }
  
  .clear {
    zoom:1
  }

  a { text-decoration: none; margin: 0 10px; }

.hot-container {
	min-height: 100px;
	margin-top: 100px;
	width: 100%;
	text-align: center;
}

a.btn {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

	a.btn:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

/* blue button */

a.btn.btn-blue {
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	a.btn.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}

/* red button */

a.btn.btn-red {
	background-color: #E48681;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #FFF;
    margin-left: 45%;
    margin-top: 10px;
}

	a.btn.btn-red:hover {
		background-color: #DA4F49;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-red:active {
		background-color: #B32C24;
		border-color: rgba(0,0,0,0.9);
    }
    
    .hover_bkgr_fricc{
        background:rgba(0,0,0,.4);
        cursor:pointer;
        height:100%;
        position:fixed;
        text-align:center;
        top:0;
        width:100%;
        z-index:10000;
    }
    .hover_bkgr_fricc .helper{
        display:inline-block;
        height:100%;
        vertical-align:middle;
    }
    .hover_bkgr_fricc > div {
        background-color: #fff;
        box-shadow: 10px 10px 60px #555;
        display: inline-block;
        height: auto;
        max-width: 551px;
        min-height: 100px;
        vertical-align: middle;
        width: 60%;
        position: relative;
        border-radius: 8px;
        padding: 15px 5%;
    }
    .popupCloseButton {
        background-color: #fff;
        border: 3px solid #999;
        border-radius: 50px;
        cursor: pointer;
        display: inline-block;
        font-family: arial;
        font-weight: bold;
        position: absolute;
        top: -20px;
        right: -20px;
        font-size: 25px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
    }
    .popupCloseButton:hover {
        background-color: #ccc;
    }
    .trigger_popup_fricc {
        cursor: pointer;
        font-size: 20px;
        margin: 20px;
        display: inline-block;
        font-weight: bold;
    }