
<head>
  <meta charset="UTF-8">
  <title>Pricing table </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
</head>
<app-navbar></app-navbar>
<app-header [headerContext]="headContext"></app-header>
<body>
  <div class="wrap">
    <div class="table" *ngFor="let row of tags">
      <ul>
        <li *ngFor="let tag of row">
          <div [style.background-color]="tag.topColor" class="top">
            <h1>STARTER</h1>
            <div [style.background-color]="tag.circleColor" class="circle">$19</div>
          </div>
          <div class="bottom">
            <p><span>5</span> users</p>
            <p><span>10</span> projects</p>
            <p><span>10GB</span> amount of space</p>
            <p><span>5</span> e-mail accounts</p>
            <div class="sign">
              <button type="button" (click)="click(tag)" class="button" [style.background-color]="tag.buttonColor" [style.color]="tag.buttonTextColor">Sign UP</button>
            </div>
          </div>
        </li>
      </ul>
    </div>    
  </div>
</body>
<app-footer></app-footer>