<div class="row" style="width: 100%">
  <div class="instagram-entry">
    <span class="instagram text-center" style="background-image: url(./assets/images/gallery-1.jpg);">
    </span>
    <span class="instagram text-center" style="background-image: url(./assets/images/gallery-2.jpg);">
    </span>
    <span class="instagram text-center" style="background-image: url(./assets/images/gallery-3.jpg);">
    </span>
    <span class="instagram text-center" style="background-image: url(./assets/images/gallery-4.jpg);">
    </span>
    <span class="instagram text-center" style="background-image: url(./assets/images/gallery-5.jpg);">
    </span>
    <span class="instagram text-center" style="background-image: url(./assets/images/gallery-6.jpg);">
    </span>
    <span class="instagram text-center" style="background-image: url(./assets/images/gallery-7.jpg);">
    </span>
    <span href="#" class="instagram text-center" style="background-image: url(./assets/images/gallery-8.jpg);">
    </span>
  </div>
</div>
<footer id="colorlib-footer" role="contentinfo">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-3">
        <h2>Navigational</h2>
        <ul class="colorlib-footer-links">
          <li><a href="#"><i class="icon-check"></i> Home</a></li>
          <li><a href="#"><i class="icon-check"></i> About Me</a></li>
          <li><a href="#"><i class="icon-check"></i> Blog</a></li>
          <li><a href="#"><i class="icon-check"></i> Travel</a></li>
          <li><a href="#"><i class="icon-check"></i> Lifestyle</a></li>
          <li><a href="#"><i class="icon-check"></i> Fashion</a></li>
          <li><a href="#"><i class="icon-check"></i> Health</a></li>
        </ul>				
      </div>
      <div class="col-md-3">
				<h2>Recent Post</h2>
				<div class="f-blog">
					<a href="blog.html" class="blog-img" style="background-image: url(./assets/images/blog-1.jpg);">
					</a>
					<div class="desc">
						<h3><a href="blog.html">Be a designer</a></h3>
						<p class="admin"><span>25 March 2018</span></p>
					</div>
				</div>
				<div class="f-blog">
					<a href="blog.html" class="blog-img" style="background-image: url(./assets/images/blog-2.jpg);">
					</a>
				<div class="desc">
				  <h3><a href="blog.html">How to build website</a></h3>
					<p class="admin"><span>24 March 2018</span></p>
				</div>
			  </div>
		  	<div class="f-blog">
					<a href="blog.html" class="blog-img" style="background-image: url(./assets/images/blog-3.jpg);">
					</a>
					<div class="desc">
						<h3><a href="blog.html">Create website</a></h3>
						<p class="admin"><span>23 March 2018</span></p>
					</div>
				</div>
      </div>
      <div class="col-md-3">
  			<h2>Archive</h2>
				<ul class="colorlib-footer-links">
					<li><a href="#"><i class="icon-check"></i> February 2018</a></li>
					<li><a href="#"><i class="icon-check"></i> January 2018</a></li>
					<li><a href="#"><i class="icon-check"></i> December 2017</a></li>
					<li><a href="#"><i class="icon-check"></i> November 2017</a></li>
					<li><a href="#"><i class="icon-check"></i> October 2017</a></li>
					<li><a href="#"><i class="icon-check"></i> September 2017</a></li>
				</ul>
      </div>
      <div class="col-md-3">
				<h2>Tags</h2>
				<p class="tags">
					<span><a href="#"><i class="icon-tag"></i> Modeling</a></span>
					<span><a href="#"><i class="icon-tag"></i> Fashion</a></span>
				  <span><a href="#"><i class="icon-tag"></i> Life</a></span>
					<span><a href="#"><i class="icon-tag"></i> Blog</a></span>
					<span><a href="#"><i class="icon-tag"></i> Workout</a></span>
					<span><a href="#"><i class="icon-tag"></i> Vacation</a></span>
					<span><a href="#"><i class="icon-tag"></i> Travel</a></span>
					<span><a href="#"><i class="icon-tag"></i> Exercise</a></span>
					<span><a href="#"><i class="icon-tag"></i> Health</a></span>
					<span><a href="#"><i class="icon-tag"></i> News</a></span>
					<span><a href="#"><i class="icon-tag"></i> Model</a></span>
					<span><a href="#"><i class="icon-tag"></i> Women</a></span>
					<span><a href="#"><i class="icon-tag"></i> Animals</a></span>
					<span><a href="#"><i class="icon-tag"></i> Nature</a></span>
					<span><a href="#"><i class="icon-tag"></i> Art</a></span>
					<span><a href="#"><i class="icon-tag"></i> Sea</a></span>
					<span><a href="#"><i class="icon-tag"></i> Ocean</a></span>
					<span><a href="#"><i class="icon-tag"></i> Office</a></span>
					<span><a href="#"><i class="icon-tag"></i> Home</a></span>
				</p>
			</div>               
    </div>
	</div>
</footer> 
