<app-navbar [currentTab]="currentTab"></app-navbar>>
<app-header [headerContext]="headContext"></app-header>
<div style="margin-left: 41%;margin-top: -150px;">
  <ngx-charts-advanced-pie-chart [view]="viewPie" 
    [results]="pieData" 
    [gradient]="gradient" 
    (select)="onSelect($event)"
  >
  </ngx-charts-advanced-pie-chart>
</div>

<div style="margin-left: 30%;margin-top:-80px">
  <ngx-charts-line-chart [view]="viewLine"
    [scheme]="colorScheme"
    [results]="lineData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [timeline]="timeline"
    (select)="onSelect($event)"
  >
  </ngx-charts-line-chart>
</div>
<div style="height: 500px"></div>
<app-footer></app-footer>