<div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div>
      <label for="username">User Name: </label>
      <input
        type="text"
        id="username"
        [formControl]="myForm.controls['userName']"
        placeholder="User Name">
      <label for="password">Pass word: </label>
      <input
        type="password"
        id="password"
        [formControl]="myForm.controls['passWord']"
        placeholder="Password">
    </div>
    <div *ngIf="showError" style="color:crimson">Incorrect username or password</div>
    <button type="submit">Submit</button>
    <button type="button" (click)="register()">Register</button>
  </form>
</div>