<div>
  <div class="table-users">
    <div class="header">Users</div>

    <table cellspacing="0">
      <tr>
        <th></th>
        <th>Creater</th>
        <th>Creation Date</th>
        <th>Description</th>
        <th>Score</th>
        <th width="230" *ngIf="showAccept">Action</th>
      </tr>

      <tr *ngFor="let rule of ruleData;let i = index">
        <td>
          <img src="http://lorempixel.com/100/100/people/1" alt="" />
        </td>
        <td>{{ rule.creater }}</td>
        <td>{{ rule.date }}</td>
        <td>{{ rule.description }}</td>
        <td>{{ rule.score }}</td>
        <td *ngIf="showAccept">
          <button type="" (click)="deleteAcceptRow(i)">Delete</button>
        </td>
      </tr>

    </table>
  </div>

  <div class="table-users">
    <div class="header">Pending Rule
      <label for="modal" class="modal-btn" style="font-size: 13px;float: right;">
        <i>+</i>
      </label>
    </div>

    <input type="checkbox" id="modal" />

    <!-- <div class="modal-bg"></div> -->
    <label for="modal" class="modal-bg"></label>
    <div class="modal-content">
      <header>
        <h2 style="color:black">So This is a as</h2>
      </header>
      <article class="content" style="color: black">
        <div class="blackboard">
          <div class="form">
            <p>
              <label>Category: </label>
              <input type="text" [(ngModel)]="categoryInput" />
            </p>
            <p>
              <label>Score: </label>
              <input type="number" [(ngModel)]="scoreInput" />
            </p>
            <p>
              <label style="margin-top: -85px">Description: </label>
              <textarea [(ngModel)]="descriptionInput"></textarea>
            </p>
          </div>
        </div>
      </article>
      <footer>
        <label for="modal" class="button success" (click)="acceptClicked()">Accept</label>
        <label for="modal" class="button danger">Decline</label>
      </footer>
    </div>
    <table>
      <tr class="pendingtr">
        <th>Creater</th>
        <th>Date</th>
        <th>Description</th>
        <th>Score</th>
        <th></th>
      </tr>
      <tbody class="pendingtbody">
        <tr class="pendingtr" *ngFor="let pending of pendingData;let i=index">
          <td class="pendingtd">
            <strong>{{ pending.creater }}</strong>
          </td>
          <td class="pendingtd">
            <strong>{{ pending.date }}</strong>
          </td>
          <td class="pendingtd">{{ pending.description }}</td>
          <td class="pendingtd">{{ pending.score }}</td>
          <td class="pendingtd">
            <button type="button" (click)="deleteRow(i)">Delete</button>
            <button type="button" (click)="acceptRow(i)" *ngIf="showAccept">Accept</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>