<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <logo>
      <a href="#" class="navbar-brand">Picture</a>
  </logo>
  <links>
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a [routerLink]="['/score']" class="nav-link waves-light" mdbWavesEffect>Score</a>
          </li>
          <li class="nav-item">
              <a [routerLink]="['/journal']" class="nav-link waves-light" mdbWavesEffect>Journal</a>
          </li>
          <li class="nav-item">
              <a class="nav-link disabled" >Disabled</a>
          </li>
      </ul>
  </links>
</mdb-navbar>